pkgbase = snx-rs
	pkgdesc = Rust client for Checkpoint VPN tunnels
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/ancwrd1/snx-rs
	arch = x86_64
	license = AGPL-3.0
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	depends = openssl
	depends = systemd
	depends = iproute2
	source = snx-rs-2.1.0.tar.gz::https://github.com/ancwrd1/snx-rs/archive/refs/tags/2.1.0.tar.gz
	source = fix-executable-path.patch
	sha256sums = 3c6898dc4d9c370a251d4564dd6ef1862f1a9a898d9f0c4d0604ccbce8a2a7fe
	sha256sums = c4438f1167b76cc278610faacdd6d821e21a9339dd12fd86bf5c27f6af66424d

pkgname = snx-rs
