pkgbase = snx-rs
	pkgdesc = Rust client for Checkpoint VPN tunnels
	pkgver = 2.2.4
	pkgrel = 1
	url = https://github.com/ancwrd1/snx-rs
	arch = x86_64
	license = AGPL-3.0
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	depends = openssl
	depends = systemd
	depends = iproute2
	depends = webkit2gtk-4.1
	source = snx-rs-2.2.4.tar.gz::https://github.com/ancwrd1/snx-rs/archive/refs/tags/v2.2.4.tar.gz
	source = fix-executable-path.patch
	sha256sums = 2a7d4d8ec40f470a43ef2eab22be4aa949340c5e46d53636f3c485b696e46f43
	sha256sums = c4438f1167b76cc278610faacdd6d821e21a9339dd12fd86bf5c27f6af66424d

pkgname = snx-rs
