pkgbase = snx-rs
	pkgdesc = Rust client for Checkpoint VPN tunnels
	pkgver = 4.4.1
	pkgrel = 1
	url = https://github.com/ancwrd1/snx-rs
	arch = x86_64
	license = AGPL-3.0-only
	checkdepends = iproute2
	makedepends = cargo
	makedepends = imagemagick
	depends = gcc-libs
	depends = glibc
	depends = openssl
	depends = glib2
	depends = gdk-pixbuf2
	depends = gtk4
	source = snx-rs-4.4.1.tar.gz::https://github.com/ancwrd1/snx-rs/archive/refs/tags/v4.4.1.tar.gz
	source = fix-executable-path.patch
	source = fix-desktop-file.patch
	sha256sums = 23e8afc97d428a05c0f28d5a2b733fd3e5baef311aae54dbf6b69dbf69a96647
	sha256sums = c4438f1167b76cc278610faacdd6d821e21a9339dd12fd86bf5c27f6af66424d
	sha256sums = 0609b65d09e1120f1f6038d3b2bfa6ba86e801a807a452c57dec640fa2fced04

pkgname = snx-rs
	depends = gcc-libs
	depends = glibc
	depends = openssl
	depends = glib2
	depends = gdk-pixbuf2
	depends = gtk4
	depends = libayatana-appindicator
	depends = systemd
	depends = iproute2
